@charset "utf-8";
/* CSS Document */

body {
	background-color: cornflowerblue;
}

img {
	width: 400px;
	border: 15px dotted #D1C513;
	border-radius: 50%;
}

img:hover {
	border: 15px solid black;
}

h2 {
	color: red;
	text-decoration: underline wavy 5x red;
}

h2 {
	color: aliceblue;
	text-decoration: wavy 5px purple;
}
